@use "../functions";
@use "../theme";

// Provides styling for large banner images, as often used in official Paizo adventure journals.
@include functions.journal-page() {
	// Makes the image cover the entire journal.
	.banner-image {
		object-fit: cover;
		max-height: theme.$banner-max-height;
	}

	// Makes the title of the banner appear centered.
	@include functions.headings {
		&.banner-title {
			// 4px is the gap between items in the journal
			margin-top: calc(0px - var(--space-s));
			font-weight: bold;
			text-align: center;
			text-transform: uppercase;
			font-family: theme.$banner-font;

			@include functions.border-image("/layout/border.png", 272, 20px);
		}
	}
}
