@use "../functions";
@use "../theme";

// This styling attempts to mimic the appearance of encounter blocks in the official Paizo adventure journals.
$encounter-image-max-width: 100px;
@include functions.journal-page("light", "dark") using($theme) {
	.encounter {
		@include functions.themed(color, theme.$encounter-text-colour, $theme);
		@include functions.themed(
			background,
			theme.$encounter-background,
			$theme
		);

		@if ($theme == null) {
			padding: 1em;
			display: flex;
			flex-direction: column;
			margin-left: -(theme.$journal-margin);
			margin-right: -(theme.$journal-margin);

			.header {
				display: grid;
				align-items: center;
				grid-template-areas: "image title" "image link";
				grid-template-columns: $encounter-image-max-width auto;
				grid-template-rows: 3em 1fr;
				margin-right: 2em;

				img {
					grid-area: image;
					max-width: $encounter-image-max-width;
					border: none;
				}

				@include functions.headings {
					display: flex;
					grid-area: title;
					justify-content: space-between;
					font-weight: bold;
					border-bottom-width: 2px;
					margin: 1rem 0 0;
					text-transform: uppercase;
				}

				p {
					grid-area: link;
				}
			}

			& > p {
				margin-left: 2em;
			}
		}
	}
}
