@use "../functions";
@use "../theme";

// Various typography styles for journals.
@include functions.journal-page {
	text-align: justify;

	// used for representing `Absalom Reckoning` years
	// used like `<span class="ar">2000</span>` (will render as 2000 AR)
	.ar {
		text-transform: uppercase;

		&::after {
			content: " AR";
			font-size: 14px;
			font-weight: bold;
			font-family: "Amiri", ui-serif;
		}
	}
}
