@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-display: swap;
	font-stretch: 100%;
	font-optical-sizing: auto;
	font-variation-settings: "wdth" 100;
	src: url("/assets/fonts/OpenSans.ttf");
}

@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-display: swap;
	font-stretch: 100%;
	font-optical-sizing: auto;
	font-variation-settings: "wdth" 100;
	src: url("/assets/fonts/OpenSans-italic.ttf");
}
