<section class="encounter">
	<div class="header">
		<img src="icons/fvtt.png" />
		<h2>TITLE<span>TYPE</span></h2>
		<p>
			<span class="link">
				@UUID[Compendium.pf2e.journals.JournalEntry.6L2eweJuM8W7OCf2.JournalEntryPage.JYJd1xZwqUNRNsqG]{Remaster
				Changes}
			</span>
		</p>
	</div>
	<p><strong>bottom text</strong></p>
</section>