<section class="statblock">
	<h1>Name <span>Type 0</span></h1>
	<section class="traits">
		<p class="alignment">N</p>
		<p>trait</p>
	</section>
	<p><em>short italic description</em></p>
	<p><strong>property</strong> description</p>
	<p><strong>property</strong> description</p>
	<hr />
	<p><strong>property</strong> description</p>
	<p><strong>property</strong> description</p>
</section>