/* only required in dev

 in prod, foundry loads style.css, as compiled by vite/rollup
 in prod, the import module.scss line at the top of module.ts indicates those rules
          should be compiled into style.css

 in dev, foundry loads style.css, this file, which is a no-op
 in dev, module.ts imports module.scss directly
 */
